<div id="map" style="height:500px; width:500px; border: 2px dotted green; background: pink">
  <ui-gmap-google-map
    center="map.center"
    zoom="map.zoom"
    draggable="false"
    options="options">

    <ui-gmap-circle
      ng-repeat="c in circles track by c.id"
      center="c.center"
      stroke="c.stroke"
      fill="c.fill"
      radius="c.radius"
      visible="c.visible"
      geodesic="c.geodesic"
      editable="c.editable"
      draggable="c.draggable"
      clickable="c.clickable"
      control="c.control">
    </ui-gmap-circle>

    <ui-gmap-markers
      models="trailMarkers"
      coords="'self'"
      icon="'icon'"
      idKey="'id'">
    </ui-gmap-markers>

    <ui-gmap-window
      coords="coords"
      show="windowshow"
      options="windowoptions"
      >
      <div>
        <p>{{trailName}}</p>
        <p>Hike Distance: {{hikeDist}}</p>
      </div>
    </ui-gmap-window>

  </ui-gmap-google-map>
</div>
